@import "../../styles/base";

.card {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include desktop {
      // made cards wider to fit logo
    width: 175px;
  }
  &__image {
    width: 150px;
    height: 100px;
    object-fit: contain;
    padding: 0 10px;
  }
  &--front {
    @include front-card-text;
    @include card;
  }

}

